command to run make file: 
1. mingw32-make
2. ./healthcare_dbms.exe
command to run mannually:
gcc -o municipal_corp_dms src/main.c src/bptree.c src/record.c src/csv_utils.c src/file_ops.c -Iinclude

challenge: case sensitive search operation by name - perform normalisation- convert all to lowercase(faster) or can perform case insensitive comparison(slower).

file structure
municipal-corp-dms/
│
├── include/
│   ├── bptree.h
│   ├── csv_utils.h
│   ├── file_ops.h
│   └── record.h
│
├── src/
│   ├── bptree.c
│   ├── csv_utils.c
│   ├── file_ops.c
│   ├── record.c
│   └── main.c
│
├── data/
│   └── records.csv
│
├── Makefile
└── README.md